doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo expedita labore soluta dolore voluptates nemo voluptatum sed cum distinctio vitae, sint dolores iure? Totam, delectus cupiditate doloremque neque. Tempore eligendi aperiam tenetur voluptates accusantium optio quibusdam in nihil dolorum, officiis! Adipisci nesciunt voluptatum saepe eveniet ut molestiae vel a numquam?
